.color {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 5px;
}
.color__hex {
    border-radius: 15px;
    display: inline;
    font-size: 1.5rem;
    padding: 5px 15px;
    background: #000a1e;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.color__role {
    font-size: 2.5rem;
    padding: 2px 6px;
    color: white;
}
.color__role--dark {
    color: #000a1e;
}
.color__contrast {
    font-size: 1.8rem;
    padding: 2px 6px;
    color: white;
}
.color__contrast--dark {
    color: #000a1e;
}

.btn--delete {
    font-weight: 700;
    border: none;
    border-radius: 20px;
    margin: 5px;
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
}
.btn--delete:hover {
    cursor: pointer;
    opacity: 1;
}
