/* Color.css */

.color {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 15px;
}
.color__hex {
    border-radius: 15px;
    display: inline;
    font-size: 1.5rem;
    padding: 5px 15px;
    background: #000a1e;
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.color__role {
    font-size: 2.5rem;
    padding: 10px 6px;
    color: var(--text-color);
}
.contrast-group {
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border: 1px solid #000;
    border-radius: 15px;
}
.color__contrast-text {
    border-radius: 15px;
    display: inline;
    font-size: 1.8rem;
    color: var(--text-color);
}
.color__contrast-score {
    border-radius: 15px;
    display: inline;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 0 10px;
}
.contrast-bg-green {
    background: #00a000;
}
.contrast-bg-orange {
    background: #ff9900;
}
.contrast-bg-red {
    background: #cc0000;
}
.copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(73, 21, 21);
    margin: 0;
}
.overlay__headline {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.overlay__button-group {
    padding: 0.1rem;
}
.overlay--hide {
    display: none;
}
