.color {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 0px 10px;
    padding: 5px;
}
.color__hex {
    border-radius: 15px;
    display: inline;
    font-size: 1.5rem;
    padding: 5px 15px;
    background: #000a1e;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.color__role {
    font-size: 2.5rem;
    padding: 2px 6px;
    color: white;
}
.color__role--dark {
    color: #000a1e;
}
.color__contrast {
    font-size: 1.8rem;
    padding: 2px 6px;
    color: white;
}
.color__contrast--dark {
    color: #000a1e;
}

.btn {
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 15px;
}
.btn:hover {
    cursor: pointer;
}

.btn--cross {
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
}
.btn--cross:hover {
    cursor: pointer;
    opacity: 1;
}
.btn--delete {
    background-color: red;
    color: white;
}
.btn--delete:hover {
    cursor: pointer;
}
.btn--cancel {
    background-color: rgb(177, 177, 177);
    color: rgb(0, 0, 0);
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    background: rgb(73, 21, 21);
    margin: 0;
}
.overlay__headline {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}

.overlay__button-group {
    padding: 0.1rem;
}

.overlay--hide {
    display: none;
}
