.btn--copy {
    background: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    padding: 6px;
}

.btn--copy svg {
    display: block;
    color: currentColor;
}

.btn--copy:hover {
    background: #000;
    color: #fff;
}
