.btn--copy {
    position: absolute;
    top: 0;
    background: #fff;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
.btn--copy {
    right: 80px;
}

.btn--copy:hover {
    background: #000;
    color: #fff;
}
