/* ColorForm */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #485250;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}
form {
    display: grid;
    gap: 1rem;
}
.edit-color-form__headline {
    background: #aaf0a1;
    color: #018052;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px;
}
input {
    color: black;
}
button[type="submit"] {
    background-color: #018052;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    padding: 3px 12px 3px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    min-width: 30%;
}

button[type="cancel"] {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    padding: 3px 12px 3px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    min-width: 30%;
}

label {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}
