/* ColorForm */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #485250;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}
form[data-js="edit-color-form"] {
    padding: 15px;
}
.form__group {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.form__group--picker {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 1.25rem;
}

.edit-color-form__headline {
    background: #aaf0a1;
    color: #018052;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0px;
}
input {
    color: rgb(0, 0, 0);
}
button[type="submit"] {
    background-color: #018052;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    padding: 3px 12px 3px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    min-width: 30%;
}

button[type="cancel"] {
    background-color: rgb(211, 211, 211);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 2.5;
    padding: 3px 12px 3px 12px;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    min-width: 30%;
}

.form__label {
    text-align: left;
}
