/*  App.css */

@import "./assets/styles/main.css";
@import "./assets/styles/buttons.css";
@import "./assets/styles/fonts.css";
@import "./assets/styles/variables.css";

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    min-height: 100dvh;
    font-family: var(--font-body);
    font-size: 1.8rem;
    line-height: 1.4;
    color: var(--text-color);
    background: var(--bg-gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root {
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
}
p {
    font-size: 2rem;
}
small {
    font-size: 1.8rem;
}

.app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
}

main {
    display: grid;
    padding: 20px 30px 120px 30px;
    justify-items: center;
}
section {
    width: 100%;
    max-width: 520px;
}

/* Color Theme List --> eventuell als Component auslagern */
.theme__feedback {
    background-color: rgb(20, 41, 60);
    margin-top: 20px;
    position: relative;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 15px;
    margin: 0px 10px;
    padding: 15px;
}
.theme__feedback span {
    color: rgb(0, 248, 165);
    font-style: italic;
}
.theme__feedback.theme__feedback--open {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.theme__list {
    list-style-type: none;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
}
.theme__list-item {
    position: relative;
    margin: 20px 0;
}
