/* buttons.css */

/* Default */
.btn {
    font-weight: 500;
    border: none;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    background: #fff;
    color: #000;
}
.btn:hover {
    background: #000;
    color: #fff;
}

/* Button Cross / Edit  */
.btn--cross,
.btn--edit {
    position: absolute;
    top: 0;
    font-weight: 700;
}
.btn--cross {
    right: 0;
}
.btn--edit {
    right: 40px;
}

/* Button Copy */
.btn--copy {
    position: absolute;
    top: 0;
    font-weight: 700;
    right: 80px;
}

/* Button Delete  */
.btn--delete {
    background-color: red;
    color: var(--text-color);
    padding: 5px 15px;
}
.btn--delete:hover {
    background-color: rgb(185, 7, 7);
    color: var(--text-color);
}

/* Button Cancel  */
.btn--cancel {
    background-color: rgb(177, 177, 177);
    color: rgb(0, 0, 0);
    padding: 5px 15px;
}
.btn--cancel:hover {
    background-color: rgb(104, 104, 104);
    color: var(--text-color);
}
